
@model RentACar.Models.HomeViewModel

@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid lightgray;
        box-shadow: 2px 2px 8px 4px #d3d3d3d1;
        border-radius: 15px;
        font-family: sans-serif;
        margin: 5px;
    }
</style>

    <a asp-action="ShowCart" class="btn btn-outline-primary">Mis Reservas (@Model.Quantity)</a>

<div class="row row-cols-1 row-cols-md-4 g-4 mt-1">
    @if (Model.Vehicles.Count() > 0)
    {
        @foreach (var item in Model.Vehicles)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="text-center zoom">
                        <img src="@item.ImageFullPath" style="height:150px; max-width:200px; border-radius:50%;" class="text-center"/>
                    </div>
                    <div class="card-body">
                        <p class="card-text smfnt">Serie:  @item.Serie</p>
                        <p class="card-text smfnt">Marca:   @item.Brand</p>
                        <p class="card-text smfnt">Placa:   @item.Plaque</p>
                        <p class="card-text smfnt">Valor Diario:    @Html.DisplayFor(modelItem => item.PriceDay)</p>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary"><i class="fa-solid fa-circle-info"></i> Ver</a>
                        @*<a onclick="showInPopup('@Url.Action("AddOrEdit", 
                                                            "Categories", new { id = 0 }, 
                                                            Context.Request.Scheme)' , 
                                                            'Nueva Categoría')" class="btn btn-sm btn-primary text-white">
                                                            <i class="fa fa-plus-circle"></i> 
                          Categoría
                        </a>*@
                        <a onclick="showInPopup('@Url.Action("ShowReserve", 
                                                            "Home", new {  id=item.Id }, 
                                                            Context.Request.Scheme)' , 
                                                            'Reserva')"   class="btn btn-sm btn-primary">
                                                            <i class="fa-solid fa-car-side"></i>Reservar</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h3>No hay Vehiculos con su criterio de búsqueda</h3>
    }
</div>

<!--modal placeholder. Also you can place this modal form in the _Layout.cshtml-->
<div class="modal fade in" tabindex="-1" role="dialog" data-bs-backdrop="static" id="form-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white"></h5>
                <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close">                   
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/showmodal.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#CategoriesTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
        });
    </script>

    <script>
        sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Categories/Delete/', false);
    </script>
}

