@model IEnumerable<RentACar.Models.VehiclesHomeViewModel>

<style type="text/css">
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid lightgray;
        box-shadow: 2px 2px 8px 4px #d3d3d3d1;
        border-radius: 15px;
        font-family: sans-serif;
        margin: 5px;
    }
</style>

@{
    ViewData["Title"] = "Index";
}
<div class="row row-cols-1 row-cols-md-4 g-4 mt-1">
    @foreach (var item in Model)
    {
        <div  class="col">
            @if (item.Vehicle1 != null)
            {
                <div class="col-md-3">
                    <div class="card h-100">
                        <div class="text-center zoom">
                             <img src="@item.Vehicle1.ImageFullPath"  style="height:150px; max-width:200px;" class="text-center" />
                        </div>
                         <div class="card_body">
                              <div class="card_title  text-navy">@item.Vehicle1.Serie</div>
                                <p class="mt-2">
                                    @item.Vehicle1.Brand
                                    <h4>@Html.DisplayFor(modelItem => item.Vehicle1.Plaque)</h4>
                                </p>
                         </div>
                       
                        <div class="card-footer text-center">
                            <a asp-action="Details" asp-route-id="@item.Vehicle1.Id" class="btn btn-secondary">Detalles</a>
                            <a asp-action="Add" asp-route-id="@item.Vehicle1.Id" class="btn btn-primary">Reservar</a>
                        </div>
                    </div>
                </div>
            }
            @if (item.Vehicle2 != null)
            {
                <div class="col-md-3">
                    <div class="card bg-dark text-Black">
                        <div class="card h-100">
                            <div class="card_title">@item.Vehicle2.Serie</div>
                            <div class="card_body">
                                <img src="@item.Vehicle2.ImageFullPath" style="height:150px; max-width:280px;" />
                                <p class="mt-2">
                                    @item.Vehicle2.Brand
                                    <h4>@Html.DisplayFor(modelItem => item.Vehicle2.Plaque)</h4>
                                </p>
                            </div>
                        </div>

                        <div class="card_foot">
                            <a asp-action="Details" asp-route-id="@item.Vehicle1.Id" class="btn btn-secondary">Detalles</a>
                            <a asp-action="Add" asp-route-id="@item.Vehicle1.Id" class="btn btn-primary">Reservar</a>
                        </div>
                    </div>
                </div>
            }
            @if (item.Vehicle3 != null)
            {
                <div class="col-md-3">
                    <div class="card bg-dark text-Black">
                        <div class="card h-100">
                            <div class="card_title">@item.Vehicle3.Serie</div>
                            <div class="card_body">
                                <img src="@item.Vehicle3.ImageFullPath" style="height:150px; max-width:280px;" />
                                <p class="mt-2">
                                    @item.Vehicle3.Brand
                                    <h4>@Html.DisplayFor(modelItem => item.Vehicle3.Plaque)</h4>
                                </p>
                            </div>
                        </div>

                        <div class="card_foot">
                            <a asp-action="Details" asp-route-id="@item.Vehicle1.Id" class="btn btn-secondary">Detalles</a>
                            <a asp-action="Add" asp-route-id="@item.Vehicle1.Id" class="btn btn-primary">Reservar</a>
                        </div>
                    </div>
                </div>
            }
            @if (item.Vehicle4 != null)
            {
                <div class="col-md-3">
                    <div class="card bg-dark text-Black">
                        <div class="card h-100">
                            <div class="card_title">@item.Vehicle4.Serie</div>
                            <div class="card_body">
                                <img src="@item.Vehicle4.ImageFullPath" style="height:150px; max-width:280px;" />
                                <p class="mt-2">
                                    @item.Vehicle4.Brand
                                    <h4>@Html.DisplayFor(modelItem => item.Vehicle4.Plaque)</h4>
                                </p>
                            </div>
                        </div>
                        <div class="card_foot">
                            <a asp-action="Details" asp-route-id="@item.Vehicle1.Id" class="btn btn-secondary">Detalles</a>
                            <a asp-action="Add" asp-route-id="@item.Vehicle1.Id" class="btn btn-primary">Reservar</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@*
<div class="row row-cols-1 row-cols-md-4 g-4 mt-1">
    @if (Model.Reverse.Count() > 0)
    {
        @foreach (var item in Model.Reverse)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="text-center zoom">
                        <img src="@item.ImageFullPath" style="height:150px; max-width:200px;" class="text-center" alt=@item.Name />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-navy"> @item.Name</h5>
                        <p class="card-text smfnt">@item.Description</p>
                        <h5 class="text-muted">@Html.DisplayFor(modelItem => item.Price)</h5>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Details</a>
                        <a asp-action="Add" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <h3>No hay productos con su criterio de búsqueda</h3>
    }
</div>*@

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
