
@model RentACar.Models.HomeViewModel


<style type="text/css">
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid lightgray;
        box-shadow: 2px 2px 8px 4px #d3d3d3d1;
        border-radius: 15px;
        font-family: sans-serif;
        margin: 5px;
    }
</style>


<div class="mb-2">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Filtrar por?
        </button>
         <Ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        @foreach (var item in Model.Categories)
        {
            <li> <a class="dropdown-item" href="@Url.Action("Index", "Home", new { searchString = item.Name})"> @item.Name&nbsp;</a></li>
        }
        </ul>
     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Ordenar por?
        </button>
        <Ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
           <li> <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Ordenar por Serie</a>&nbsp;&nbsp;</li>
          <li>  <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">Ordenar por Precio</a></li>
             </ul>
    </div>

<form asp-action="Index" method="get" class="text-center">
    <div class="form-actions no-color">
        <p>
            Buscar por Serie o categoría: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Ver Todos los Vehiculos</a>
        </p>
    </div>
</form>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4 mt-2 ">
    @if (Model.Vehicles.Count() > 0)
    {
        @foreach (var item in Model.Vehicles)
        {
            <div class= "col">
                <div class="card h-100" text-dark" style="max-width: 800px;">
                    <div class="row g-0">
                        <h5 class="text-center">@item.Serie </h5>
                    <div class="col-md-4 ">
                        
                        <div class="text-center zoom">
                        <img src="@item.ImageFullPath" style="height:100px; max-width:100px; border-radius:50%;" class="img-fluid rounded-start" />
                        </div>
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text smfnt">  </p>
                        <p class="card-text smfnt">   @item.Brand</p>
                        <p class="card-text smfnt">  @item.Plaque</p>
                        <p class="text-smfnt"> @Html.DisplayFor(modelItem => item.PriceDay)</p>                       
                                            <div text-center">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary"><i class="fa-solid fa-circle-info"></i> Ver</a>
                        <a asp-action="ShowReserve" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><i class="fa-solid fa-car-side"></i>Reservar</a>
                    </div>

                    </div>
                    </div>

                </div>
            </div>
             </div>
        }
    }
    else
    {
        <h3>No hay Vehiculos con su criterio de búsqueda</h3>
    }
</div>

@{
    var prevDisabled = !Model.Vehicles.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Vehicles.HasNextPage ? "disabled" : "";
}

<div class="mt-5">
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.Vehicles.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-primary @prevDisabled">
        Anterior
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.Vehicles.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-secondary @nextDisabled">
        Siguiente
    </a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}